name: Github Pages deployment

on:
  push:
    branches: [ "deployment" ]

  workflow_dispatch:

  schedule:
    - cron: "54 15 * * *"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH Key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          
      - name: Checkout project
        shell: bash
        run: |
          git clone ${{ secrets.GIT_REPO_URL }} $GITHUB_WORKSPACE
          
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
          
      - name: install dependencies
        run: npm install
        
      - name: Static HTML export with Nuxt
        run: npm run generate

      - name: Download rdap bootstrap files
        shell: bash
        run: |
          curl -s -S -f -o .output/public/rdap/asn.json "https://data.iana.org/rdap/asn.json"
          curl -s -S -f -o .output/public/rdap/dns.json "https://data.iana.org/rdap/dns.json"
          curl -s -S -f -o .output/public/rdap/ipv4.json "https://data.iana.org/rdap/ipv4.json"
          curl -s -S -f -o .output/public/rdap/ipv6.json "https://data.iana.org/rdap/ipv6.json"
          
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: .output/public

  deploy:
    environment:
      name: github-pages
      url: https://nstoolbox.cloud
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
